.container {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 40px;
}

.searchBar-shop {
  display: flex;
}

.searchBar-shop input {
  outline: none;
  margin-top: 30px;
  margin-right: 50px;
}

.shop-header {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}

.shop-header-nav {
  display: flex;
  text-align: center;
  margin: auto;
  width: 80%;
  padding-top: 20px;
  padding-left: 110px;
}

.shop-header-nav ul {
  display: flex;
}

.searchBar-shop input {
  width: 30%;
  height: 20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: rgba(4, 4, 4, 0.5);
  background-color: #eae7dc;
}

.shop-header-nav li {
  margin-left: 30px;
  letter-spacing: 0.5rem;
  font-size: 17px;
  opacity: 0.8;
}

.SHOP-LOGO {
  width: 400px;
  width: 38%;
  text-align: center;
  padding-top: 10px;
}

.advertising {
  background-color: black;
  height: 170px;
  margin-left: 30px;
  margin-right: 60px;
  opacity: 0.9;
}

.advertising h2 {
  color: aliceblue;
  text-align: center;
  padding-top: 60px;
  font-size: 30px;
  font-weight: 100;
  opacity: 0.8;
  letter-spacing: 0.3rem;
}

.cocktail-box {
  margin: 20px;
  padding: 20px;
  height: 700px;
  display: inline-block;
}
.icon {
  color: black;
  width: 60px;
  height: 20px;
}

p {
  font-size: 20px;
}

.cocktail-box .price-button {
  display: inline-flex;
}

.cocktail-box h3 {
  font-size: 28px;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: blue;
}
.price-button h3 {
  font-size: 25px;
  padding-top: 15px;
}

.cocktail-Detail {
  display: flex;
}
