body {
  background-color: #eae7dc;
}

.navBar {
  display: flex;
}
.navBar img {
  margin-left: 20px;
}

a {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}
.navBar h3 {
  margin-left: 30px;
}

h2 {
  color: #e85a4f;
}

h3 {
  color: #8e8d8a;
}

h2 {
  margin-left: 40px;
}

.navigation {
  display: flex;
  margin-left: 20px;
  width: 50%;
  padding-top: 20px;
}

.user-section {
  display: flex;
  padding-left: 310px;
  padding-top: 20px;
}

.user-section h3 {
  margin-left: 10px;
}
form {
  width: 100px;
  height: 300px;
}
button {
  margin: 40px;
  width: 60px;
}
input {
  width: 200px;
  height: 50px;
}

.shoppingCart-number {
  font-size: 10px;
  background: black;
  color: #fff;
  padding: 0 3px;
  vertical-align: top;
  margin-left: -30px;
}
