body {
  background-color: #eae7dc;
}

.navBar {
  display: flex;
}
a {
  color: #8e8d8a;
  text-decoration: none;
}
.navBar h3 {
  margin-left: 80px;
}
h2 {
  color: #e85a4f;
}

h3 {
  color: #8e8d8a;
}

h2 {
  margin-left: 40px;
}

.navigation {
  display: flex;
  margin-left: 30px;
  width: 50%;
}

.user-section {
  display: flex;
  margin-left: 40px;
}

form {
  width: 100px;
  height: 300px;
}
button {
  margin: 40px;
  width: 60px;
}
input {
  width: 200px;
  height: 50px;
}

.cart-popUp {
  background-color: #e85a4f;
}

.comment :hover {
  background: #752f2f;
}
